.sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanS12), .sapUiRespGridMedia-Std-Tablet.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanM12), .sapUiRespGridMedia-Std-Desktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanL12), .sapUiRespGridMedia-Std-LargeDesktop.sapUiFormResGridCont>.sapUiFormElementLbl:not(.sapUiRespGridSpanXL12) {
            padding-right: 0.3rem;
        }
        .classTaahhut {
            display: inline-block;
            box-sizing: border-box;
            white-space: pre-line;
            word-wrap: break-word;
            cursor: text;
            font-size: .875rem;
            font-family: "72fallback","72","72full",Arial,Helvetica,sans-serif;
            line-height: normal;
            color: red;
        }
        .classFatura {
                display: inline-block;
                box-sizing: border-box;
                white-space: pre-line;
                word-wrap: break-word;
                cursor: text;
                font-size: .875rem;
                font-family: "72fallback","72","72full",Arial,Helvetica,sans-serif;
                line-height: normal;
                color: green;}